*,::before,::after{
    margin: 0;
    padding: 0;
    /*在移动端，我们浏览器版本普遍较高，内核一般兼容webkit*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
body{
    font-size: 14px;
    font-family: "microsoft YaHei","sans-serif";
    color:#333;
}
a{
    color:#333;
    text-decoration: none;
}
a:hover{
    color:#333;
}
ol,ul{
    list-style: none;
}
input,textarea{
    border:none;
    outline: none;
    resize:none;
}
[class^="icon_"]{
    background: url("../images/sprites.png");
    background-size: 200px 200px;
    -webkit-background-size: 200px 200px;
}
.clearfix::before,.clearfix::after{
    content:"";
    height: 0;
    display: block;
    line-height:0;
    clear: both;
    visibility: hidden;
}